In [1]:
# サンプルとなるデータセットの作成
import numpy as np
from numpy import nan # 欠損値NaN（Not a Number）
import pandas as pd

In [2]:
# 商品の購買履歴データのサンプルを生成
df = pd.DataFrame({'DATE':  [20170801, 20170801, 20170802, 20170802, 20170803, 20170803, 20170803, 20170805, 20170805, 20170805],
                   'NECK':  [41, nan, 38, 46, nan, 37, nan, 38, nan, 42],
                   'BODY':  [84, 92, nan, 90, nan, 64, 78, 74, 82, 86],
                   'SIZE':  ['L', 'XL', 'L', 'XL', 'M', 'S', 'M', 'L', 'L', 'XL'],
                   'COLOR': ['BL', 'RD', 'Y', 'GR', 'GR', 'RD', 'BL', 'Y', 'BL', 'GR'],
                   'class': ['A', 'C', 'B', 'B', 'C', 'A', 'A', 'A', 'C', 'C']},
                 columns=['DATE', 'NECK', 'BODY', 'SIZE', 'COLOR', 'class'])
df

       DATE  NECK  BODY SIZE COLOR class
0  20170801  41.0  84.0    L    BL     A
1  20170801   NaN  92.0   XL    RD     C
2  20170802  38.0   NaN    L     Y     B
3  20170802  46.0  90.0   XL    GR     B
4  20170803   NaN   NaN    M    GR     C
5  20170803  37.0  64.0    S    RD     A
6  20170803   NaN  78.0    M    BL     A
7  20170805  38.0  74.0    L     Y     A
8  20170805   NaN  82.0    L    BL     C
9  20170805  42.0  86.0   XL    GR     C